<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
</head>

<body>
    <div style="max-width: 600px; width:100%; margin:0 auto">
        <header>
            <h1>A message from Popup Remote!</h1>
        </header>
        {{{body}}}
        <p>Best regards,</p>
        <p>Team Popup-Remote!</p>
        <footer>:D</footer>
    </div>
</body>

</html>