*{
    box-sizing: border-box;
}


body{
    color: white;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 1.4em;
    padding-left: 80px;
    padding-right: 20px;
}

p{
    margin-bottom: 2rem;
}

.popup{
    border-radius: 3rem;
    font-size: 1.75em;
    position: fixed;
    left: 50%;
        width: 70%;
    transform: translate(-50%, 0);
    margin: 0 0 -600px auto;
    bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(55, 55, 55);
}

.popup .popupContent{
    padding: 0 2rem 0 2rem;
    font-weight: 400;
}

.popup #title{
    font-size: 1.2em;
    
}

#title .title-content{
    font-weight: 700;
}

.popup::before{
    font-size: 1.75em;
    font-weight: 500;
    content: "Q:";
    text-align: center;
    line-height: 120px;
    float: left;
    width: 120px;
    height: 120px;
    background-color: pink;
    border-radius: 120px;
    margin-left: -60px;
    margin-top: -60px;
    color: white;
}