<p>A password reset was requested for {{email}}, but this account does not exist! If you are attempting to reset your
    password, maybe try a different email address!</p>
<p>If you did not request this reset you can ignore this email and we apologize for disturbing you. Feel free to contact
    us at <a href="mailto:{{supportEmail}}">{{supportEmail}}</a></p>