Hi {{name}},

<p>I hope this email finds you well. This is to inform you that your password for user: {{email}} has been successfully
    changed as per your
    request. We take the security of your account very seriously, and we strongly recommend that you change your
    password regularly to maintain the security of your account.</p>

<p>If you did not initiate this password change, please contact our customer support team immediately to investigate the
    matter further.</p>

<p>Thank you for choosing our services, and please do not hesitate to contact us if you have any questions or concerns.
</p>