<p>Hi {{name}},</p>

<p>We have received your request to reset your password for {{email}}. To proceed with the reset, please
    follow the link below to create a new password:</p>

<p style="padding: 20px; background-color:rgb(231, 231, 231); border: 1px solid grey; border-radius:5px"><a
        href="{{link}}">Your personal
        password
        reset link</a></p>
<p>Please note that this link is only valid for 1 hour, so be sure to use it as soon as possible to reset your password.
</p>

<p>If you didn't request a password reset, you can ignore this email. No changes will be made to your account!</p>

<p>If you have any trouble resetting your password, please don't hesitate to contact us.</p>